/CSharpIRCBot/bin/Debug/CSharpIRCBot.exe
/CSharpIRCBot/bin/Debug/CSharpIRCBot.exe.config
/CSharpIRCBot/bin/Debug/CSharpIRCBot.pdb
/CSharpIRCBot/bin/Debug/CSharpIRCBot.vshost.exe
/CSharpIRCBot/bin/Debug/CSharpIRCBot.vshost.exe.config
/CSharpIRCBot/bin/Debug/CSharpIRCBot.vshost.exe.manifest
/CSharpIRCBot/bin/Debug/CSharpIRCLib.dll
/CSharpIRCBot/bin/Debug/CSharpIRCLib.pdb
/CSharpIRCBot/bin/Debug/Newtonsoft.Json.dll
/CSharpIRCBot/bin/Debug/Newtonsoft.Json.xml
/CSharpIRCBot/obj/Debug/CSharpIRCBot.csproj.FileListAbsolute.txt
/CSharpIRCBot/obj/Debug/CSharpIRCBot.csprojResolveAssemblyReference.cache
/CSharpIRCBot/obj/Debug/CSharpIRCBot.exe
/CSharpIRCBot/obj/Debug/CSharpIRCBot.pdb
/CSharpIRCBot/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CSharpIRCBot/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CSharpIRCBot/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CSharpIRCBot/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

/CSharpIRCLib/bin/Debug/CSharpIRCLib.dll
/CSharpIRCLib/bin/Debug/CSharpIRCLib.pdb
/CSharpIRCLib/obj/Debug/CSharpIRCLib.csproj.FileListAbsolute.txt
/CSharpIRCLib/obj/Debug/CSharpIRCLib.dll
/CSharpIRCLib/obj/Debug/CSharpIRCLib.pdb
/CSharpIRCLib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CSharpIRCLib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CSharpIRCLib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CSharpIRCLib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/*.gz
/*.suo
/*.suo
